.headerNav {
  border-top: 2px solid #f2f2f2;
}
.container {
  max-width: 1170px;
  padding: 0 15px;

  margin: 0 auto;

  flex: 1 1 auto;
  overflow: hidden;
}
.navInner{
  display: flex;
  justify-content: space-between;
  line-height: 55px;
  padding: 0 10px;
  .navAllCategory {
    position: relative;
    flex: 1 1 25%;
    padding-left: 40px;
    @media (max-width: 940px) {
      flex: 1 1 75%;
    }
    @media (max-width: 515px) {
      font-size: 0;
    }
    &::before{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-52%);
      left: 0;
      background-image: url('ic_menu.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .navMenu {
    flex: 1 1 50%;
    .navMenuList {
      display: flex;
      justify-content: space-around;
      border-left: 2px solid #f2f2f2;
    }
    @media (max-width: 940px) {
      display: none;
    }
  }
  .navSubmenu {
    flex: 1 1 25%;
    .navSubmenuList {
      display: flex;
      justify-content: space-around;

      .listItem{
        position: relative;
        color: #808080;
        border-left: 2px solid #f2f2f2;
        padding: 0 20px;
        &::before{
          content: '\203A';
          display: block;
          position: absolute;
          top: 1px;
          right: 7px;
          color: #b3b3b3;
          transform: rotate(90deg);
        }
      }
    }
  }

}


