.navBar {
  flex: 0 1 30%;
  align-self: flex-start;
  background-color: white;
  margin: 0 15px 30px 0;
  border-radius: 8px;
  overflow: hidden;
  @media (max-width:710px) {
    display: none;
  }
  .categories {
    li{
      position: relative;
      font-size: 13px;
      color: #808080;
      line-height: 20px;
      padding: 25px 15px;
      border-bottom: 2px solid #f5f5f5;
      padding-left: 50px;
      &:last-child{
        border-bottom: none;
      }
      &::after{
        content:'\203A';
        position: absolute;
        display: block;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
    }
  }
  .appleComputers {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-30%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_desktop_mac.svg');
      background-repeat: no-repeat;
    }
  }
  .accessories {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_speaker.svg');
      background-repeat: no-repeat;
    }
  }
  .cellPhones {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_phone_iphone.svg');
      background-repeat: no-repeat;
    }
  }
  .computers {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_desktop_windows.svg');
      background-repeat: no-repeat;
    }
  }
  .computersComponents {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_memory.svg');
      background-repeat: no-repeat;
    }
  }
  .friends {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_keyboard.svg');
      background-repeat: no-repeat;
    }
  }
  .gameConsoles {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_videogame_asset.svg');
      background-repeat: no-repeat;
    }
  }
  .laptops {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_laptop.svg');
      background-repeat: no-repeat;
    }
  }
  .tvVideo {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_tv.svg');
      background-repeat: no-repeat;
    }
  }
  .watches {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('ic_watch.svg');
      background-repeat: no-repeat;
    }
  }
}
