.card{
  width: 250px;
  flex: 0 1 33.3333%;
  background: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  margin: 0 -15px 30px;
  overflow: hidden;
  .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .item{
      display: flex;
    }
    .favorite{
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_favorite_border.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    .sale{
      background: #f7f7f7;
      padding: 8px 14px;
      border-radius: 6px;
      font-weight: 900;
      font-size: 10px;
      color: #b3b3b3;
      letter-spacing: 1.25px;
      text-transform: uppercase;
    }
    .menu{
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_format_list_bulleted.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .productImg{
    text-align: center;
    width: 300px;
    height: 225px;
    margin-bottom: 25px;
  }
  .name{
    text-align: center;
    margin-bottom: 25px;
  }
  .stars{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    li{
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_star_border.svg');
      background-position: center;
      background-repeat: no-repeat;
      &:nth-child(1){
      }
    }
  }
  .price{
    position: relative;
    text-align: center;
    &:after{
      content: '';
      position: absolute;
      display: inline-block;
      top: 50%;
      transform: translateY(-46%);
      width: 30px;
      height: 30px;
      background-image: url('./ic_shopping_cart.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
