.header{
  &__nav {
    border-top: 2px solid #f2f2f2;
  }
  &__nav-inner{
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    padding: 0 10px;
  }
  &__nav-allCategory {
    position: relative;
    flex: 1 1 25%;
    padding-left: 40px;
    @media (max-width: 940px) {
      flex: 1 1 75%;
    }
    @media (max-width: 515px) {
      font-size: 0;
    }
    &::before{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-52%);
      left: 0;
      background-image: url('./ic_menu.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__nav-menu {
    flex: 1 1 50%;
    @media (max-width: 940px) {
      display: none;
    }
  }
  &__nav-menuList {
    display: flex;
    justify-content: space-around;
    border-left: 2px solid #f2f2f2;

  }
  &__nav-submenu {
    flex: 1 1 25%;
  }
  &__nav-submenuList {
    display: flex;
    justify-content: space-around;

    li{
      position: relative;
      color: #808080;
      border-left: 2px solid #f2f2f2;
      padding: 0 20px;
      &::before{
        content: '\203A';
        display: block;
        position: absolute;
        top: 1px;
        right: 7px;
        color: #b3b3b3;
        transform: rotate(90deg);
      }
    }
  }
}
