
.header {
  background-color: #fff;

  border-bottom: 2px solid #F2F2F2;
  margin-bottom: 30px;
  &__logo {
  }
  &__search {
  }
  &__search-box {
  }
  &__search-category {
  }
  &__search-line {
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }
}

