.content {
  &__nav-bar {
    flex: 0 1 30%;
    align-self: flex-start;

    background-color: white;
    margin: 0 15px 30px 0;
    border-radius: 8px;
    overflow: hidden;
  }
}
.nav-bar {
  &__categories {
    li{
      position: relative;
      font-size: 13px;
      color: #808080;
      line-height: 20px;
      padding: 25px 15px;
      border-bottom: 2px solid #f5f5f5;
      padding-left: 50px;
      &:last-child{
        border-bottom: none;
      }
      &::after{
        content:'\203A';
        position: absolute;
        display: block;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
    }
  }
  &__apple-computers {
    &::before{
      content:'';
      position: absolute;
      top: 25px;
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_desktop_mac.svg');
      background-repeat: no-repeat;
    }
  }
  &__accessories {
    &::before{
      content:'';
      position: absolute;
      top: 25px;
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_speaker.svg');
      background-repeat: no-repeat;
    }
  }
  &__categories {
  }
  &__cell-phones {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_phone_iphone.svg');
      background-repeat: no-repeat;
    }
  }
  &__computers {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_desktop_windows.svg');
      background-repeat: no-repeat;
    }
  }
  &__computers-components {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_memory.svg');
      background-repeat: no-repeat;
    }
  }
  &__friends {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_keyboard.svg');
      background-repeat: no-repeat;
    }
  }
  &__game-consoles {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_videogame_asset.svg');
      background-repeat: no-repeat;
    }
  }
  &__laptops {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_laptop.svg');
      background-repeat: no-repeat;
    }
  }
  &__tv-video {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_tv.svg');
      background-repeat: no-repeat;
    }
  }
  &__whatches {
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 15px;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url('./ic_watch.svg');
      background-repeat: no-repeat;
    }
  }
}
