.footerDown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 0;
  margin-bottom: 45px;
  @media (max-width: 660px) {
    flex-direction: column;
  }
}
.list{
  display: flex;
  @media (max-width: 660px) {
    margin-bottom: 20px;
  }
  @media (max-width: 470px) {
    flex-direction: column;
  }
  li{
    color: #b3b3b3;
    margin-right: 30px;
    @media (max-width: 470px) {
      margin-bottom: 5px;
      margin-right: 0;
      text-align: center;
    }
    &:last-child{
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
.banks{
  color: #b3b3b3;
  display: flex;
  align-items: center;
  span{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
      margin-right: 30px;
      @media (max-width: 875px) {
        display: none;
      }
    }
    &:nth-child(2){
      @media (max-width: 875px) {
        margin-left: 0;
      }
    }
  }
  .visa{
    display: block;
    background-image: url('../Footer/visa_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
  }
  .masterCard {
    display: block;
    background-image: url('../Footer/mastercard_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
  }
  .payPal{
    display: block;
    background-image: url('../Footer/paypal_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
  }
  .amazon{
    display: block;
    background-image: url('../Footer/amazon_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
  }
}
